@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
/*Reset*/
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
img,
button,
input,
picture,
source {
  display: block;
}

input::-webkit-input-placeholder {
  font-family: "Comfortaa", cursive;
}

input:-ms-input-placeholder {
  font-family: "Comfortaa", cursive;
}

input::-ms-input-placeholder {
  font-family: "Comfortaa", cursive;
}

input::placeholder {
  font-family: "Comfortaa", cursive;
}

a,
img,
button {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Comfortaa", cursive;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

html {
  font-size: 10px;
  font-family: "Comfortaa", cursive;
  color: #3d3d5c;
}

.wrap {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 102.4rem;
  position: relative;
}

.wrapper.disabled {
  display: none;
}

*.yellow,
*.primary,
*.green,
*.red,
*.pink,
*.purple {
  color: #ffffff;
}

*.yellow {
  background-color: #f9c700;
  stroke: #f9c700;
}

*.yellow:after, *.yellow:before {
  background-color: #d2a800;
}

*.primary {
  background-color: #099ff9;
  stroke: #099ff9;
}

*.primary:after, *.primary:before {
  background-color: #0a86d1;
}

*.green {
  background-color: #09bd00;
  stroke: #09bd00;
}

*.green:after, *.green:before {
  background-color: #079a00;
}

*.red {
  background-color: #ff1800;
  stroke: #ff1800;
}

*.red:after, *.red:before {
  background-color: #d51400;
}

*.pink {
  background-color: #e965d3;
  stroke: #e965d3;
}

*.pink:after, *.pink:before {
  background-color: #c251af;
}

*.purple {
  background-color: #a65fee;
  stroke: #a65fee;
}

*.purple:after, *.purple:before {
  background-color: #8f52cc;
}

input.yellow {
  color: #f9c700;
}

input.yellow:focus {
  border: 0.3rem solid #f9c700;
}

input.primary {
  color: #099ff9;
}

input.primary:focus {
  border: 0.3rem solid #099ff9;
}

input.green {
  color: #09bd00;
}

input.green:focus {
  border: 0.3rem solid #09bd00;
}

input.red {
  color: #ff1800;
}

input.red:focus {
  border: 0.3rem solid #ff1800;
}

input.pink {
  color: #e965d3;
}

input.pink:focus {
  border: 0.3rem solid #e965d3;
}

input.purple {
  color: #a65fee;
}

input.purple:focus {
  border: 0.3rem solid #a65fee;
}

.header__block {
  padding: 5.8rem 1.6rem 0 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close__btn {
  width: 1.5rem;
  height: 1.5rem;
}

.close__btn img {
  width: 100%;
}

.main__block {
  width: 100%;
  max-width: 64rem;
  padding: 0 1.6rem;
  margin: 0 auto 0;
}

.current__page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2rem;
  line-height: 1.9;
  font-weight: 700;
  color: #e5e4e7;
}

.current__page {
  color: #5a5a5a;
  margin-right: 0.3rem;
  line-height: inherit;
}

.pages {
  margin-left: 0.3rem;
  line-height: inherit;
}

.progress__bar__block {
  position: relative;
  width: 100%;
  height: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #e5e4e7;
}

.progress__bar {
  position: absolute;
  width: 15%;
  height: 100%;
  border-radius: inherit;
}

.page__title__block {
  margin-top: 5.6rem;
}

.page__title,
.page__text {
  text-align: center;
}

.page__title {
  font-size: 2.2rem;
  line-height: 1.36;
  font-weight: 700;
}

.page__text {
  margin-top: 3.4rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
}

.input__block {
  margin-top: 8.1rem;
}

.name__input {
  width: 100%;
  padding: 0 3.5rem;
  height: 8rem;
  font-size: 2.2rem;
  line-height: 1.273;
  font-weight: 700;
  background-color: #fff;
  border: 0.3rem solid #e5e4e7;
  border-radius: 3rem;
}

.name__input::-webkit-input-placeholder {
  color: #e5e4e7;
}

.name__input:-ms-input-placeholder {
  color: #e5e4e7;
}

.name__input::-ms-input-placeholder {
  color: #e5e4e7;
}

.name__input::-webkit-input-placeholder {
  color: #e5e4e7;
}

.name__input::placeholder {
  color: #e5e4e7;
}

.footer__block {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  padding-bottom: 7rem;
}

.footer__block .main__block {
  margin-bottom: 0;
}

.button__wrapper {
  position: relative;
  height: 6.9rem;
  width: 19rem;
  margin-left: 100%;
  border-radius: 2rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button__wrapper.full__width__btn {
  width: 56.8rem;
  margin: auto;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.button__wrapper.full__width__btn .app__btn {
  width: 100%;
  font-size: 2.2rem;
}

.button__wrapper.disabled {
  opacity: 0.4;
}

.button__wrapper.disabled:before {
  opacity: 0.4;
}

.button__wrapper.disabled .app__btn {
  opacity: 0.4;
}

.app__btn {
  position: relative;
  height: 100%;
  width: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 400;
  font-size: 2.3rem;
  border-radius: 2rem;
  border-top: none;
  z-index: 1;
}

.app__btn.clicked {
  top: 0.4rem;
}

.back__btn {
  width: 0.75rem;
}

.back__btn img {
  width: 100%;
}

.main__footer__text,
.footer__title__text,
.plans__link {
  margin-top: 2.6rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.main__footer__text a,
.footer__title__text a,
.plans__link a {
  display: inline;
  color: #3d3d5c;
  text-decoration: underline;
}

.main__footer__text {
  width: 55rem;
  margin: auto;
}

.footer__title__text {
  margin: 0;
}

.footer__title__text:last-of-type {
  margin: 0 auto 1.7rem;
}

.plans__link {
  margin: 2rem auto 2.7rem;
  color: #099ff9;
  font-weight: 400;
}

.age__btns__block {
  width: 100%;
  max-width: 46.5rem;
  margin: 4.45rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.age__btn {
  width: 13rem;
  height: 12rem;
  margin: 1.25rem;
  position: relative;
  background: transparent;
}

.age__btn span {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #3d3d5c;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  line-height: 1.25rem;
  font-weight: 700;
  border: 0.3rem solid #e5e4e7;
  border-radius: 3rem;
  z-index: 2;
}

.age__btn.selected span {
  height: calc(100% - 0.4rem);
  color: #fff;
}

.age__btn.selected:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 3rem;
  z-index: 1;
}

.age__btn.selected.primary.selected span {
  background-color: #099ff9;
  border-color: #099ff9;
}

.age__btn.selected.yellow.selected span {
  background-color: #f9c700;
  border-color: #f9c700;
}

.age__btn.selected.green.selected span {
  background-color: #09bd00;
  border-color: #09bd00;
}

.age__btn.selected.red.selected span {
  background-color: #ff1800;
  border-color: #ff1800;
}

.age__btn.selected.pink.selected span {
  background-color: #e965d3;
  border-color: #e965d3;
}

.age__btn.selected.purple.selected span {
  background-color: #a65fee;
  border-color: #a65fee;
}

.age__btn.selected.active span {
  height: 100%;
}

.choose_language__wrap {
  width: 100%;
  height: auto;
  max-height: 60vh;
  margin-top: 5.7rem;
  overflow-y: auto;
}

.choose_language__wrap::-webkit-scrollbar {
  display: none;
}

.choose__language__block {
  width: 100%;
  margin-bottom: 15rem;
  padding: 1rem 2rem;
  border: 0.3rem solid #e5e4e7;
  border-radius: 2rem;
}

.language__block {
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  cursor: pointer;
}

.language__block.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.language__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.language__icon {
  width: 8rem;
  height: 6rem;
  margin-right: 2rem;
  border-radius: 1rem;
  background-color: #f1f1f1;
}

.language__name {
  font-size: 1.8rem;
  font-weight: 700;
}

.questions__block {
  width: 100%;
  max-width: 43.5rem;
  margin: 5.4rem auto 0;
}

.question {
  width: 100%;
  margin-bottom: 2.6rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.question:hover .answers__wrapper {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.question:hover .question__text {
  opacity: 1;
}

.question:hover .answer__btn {
  height: 4.3rem;
  padding: 1.15rem 2.25rem 1.25rem;
  border: 0.3rem solid #099ff9;
}

.question.selected {
  opacity: 1;
  height: auto;
}

.question.selected .question__text {
  opacity: 1;
}

.question.selected .answers__wrapper {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.question.selected .answer__btn {
  height: 4.3rem;
  padding: 1.15rem 2.25rem 1.25rem;
  border: 0.3rem solid #099ff9;
}

.question__text__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.question__text__block .qa__img__block {
  width: 1.7rem;
}

.question__text__block .qa__img__block img {
  width: 100%;
}

.question__text {
  width: calc(100% - 5.2rem);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  opacity: 0.4;
}

.answers__wrapper {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.answers__btns__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.answer__btn {
  height: 0;
  margin-right: 1rem;
  padding: 0 2.25rem;
  overflow: hidden;
  border-radius: 2rem;
  font-size: 1.6rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: #099ff9;
  -webkit-transition: all 0.31s ease;
  transition: all 0.31s ease;
}

.answer__btn.colorized {
  background: transparent;
}

.answer__btn.colorized.primary {
  color: #099ff9;
  border-color: #099ff9;
}

.answer__btn.colorized.primary.selected, .answer__btn.colorized.primary:hover {
  background-color: #099ff9;
  color: #fff;
}

.answer__btn.colorized.yellow {
  color: #f9c700;
  border-color: #f9c700;
}

.answer__btn.colorized.yellow.selected, .answer__btn.colorized.yellow:hover {
  background-color: #f9c700;
  color: #fff;
}

.answer__btn.colorized.green {
  color: #09bd00;
  border-color: #09bd00;
}

.answer__btn.colorized.green.selected, .answer__btn.colorized.green:hover {
  background-color: #09bd00;
  color: #fff;
}

.answer__btn.colorized.red {
  color: #ff1800;
  border-color: #ff1800;
}

.answer__btn.colorized.red.selected, .answer__btn.colorized.red:hover {
  background-color: #ff1800;
  color: #fff;
}

.answer__btn.colorized.pink {
  color: #e965d3;
  border-color: #e965d3;
}

.answer__btn.colorized.pink.selected, .answer__btn.colorized.pink:hover {
  background-color: #e965d3;
  color: #fff;
}

.answer__btn.colorized.purple {
  color: #a65fee;
  border-color: #a65fee;
}

.answer__btn.colorized.purple.selected, .answer__btn.colorized.purple:hover {
  background-color: #a65fee;
  color: #fff;
}

.color__btns__block {
  width: 100%;
  max-width: 46.5rem;
  margin: 13.6rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color__btn {
  position: relative;
  width: 13rem;
  height: 11rem;
  margin: 0 1.25rem 2.9rem;
  border: 0.3rem solid #e5e4e7;
  border-radius: 3rem;
}

.color__btn.colorized .color__name {
  height: calc(100% - 0.4rem);
}

.color__btn.colorized:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  z-index: 1;
}

.color__btn.colorized.yellow, .color__btn.colorized.primary, .color__btn.colorized.green, .color__btn.colorized.red, .color__btn.colorized.pink, .color__btn.colorized.purple {
  border: none;
}

.color__name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
}

#page_seven .page__title {
  margin-top: 20.7rem;
}

#page_seven .header__block {
  display: none;
}

#page_seven .footer__block {
  display: none;
}

.animation__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 11.9rem;
  position: relative;
}

.circle__animation {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: auto;
}

.bg__circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.circle__animation__c {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke-dasharray: 500;
}

.percentages {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  font-weight: 700;
  z-index: 2;
}

.percentages.yellow {
  color: #f9c700;
  background: transparent;
}

.percentages.primary {
  color: #099ff9;
  background: transparent;
}

.percentages.green {
  color: #09bd00;
  background: transparent;
}

.percentages.red {
  color: #ff1800;
  background: transparent;
}

.percentages.pink {
  color: #e965d3;
  background: transparent;
}

.percentages.purple {
  color: #a65fee;
  background: transparent;
}

#page_eight .page__title {
  margin-top: 6rem;
}

.levels__block {
  margin-top: 5.1rem;
}

.levels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.level__name {
  width: 20%;
  font-size: 1.4rem;
  line-height: 1.57;
  font-weight: 700;
  color: #ceced5;
  text-align: center;
}

.level__name.active {
  font-size: 1.8rem;
  line-height: 1.44;
  color: #3d3d5c;
}

.level__progress__block {
  width: 100%;
  height: 1rem;
  margin-top: 2.9rem;
  background-color: #e5e4e7;
  border-radius: 0.5rem;
}

.level__progress__bar {
  width: 75%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  -webkit-animation: calcProgress 1s linear;
          animation: calcProgress 1s linear;
}

@-webkit-keyframes calcProgress {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes calcProgress {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.level__progress__thumb {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  -webkit-box-shadow: 0 0 1 #5a5a5a;
          box-shadow: 0 0 1 #5a5a5a;
}

.main__content {
  margin-top: 6rem;
}

.subjects__list {
  margin: 2.4rem auto 0;
  max-width: 50rem;
}

.subject__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.6rem;
}

.subject__item span.yellow,
.subject__item span.primary,
.subject__item span.green,
.subject__item span.red,
.subject__item span.pink,
.subject__item span.purple {
  background: transparent;
}

.subject__item span.yellow {
  color: #f9c700;
}

.subject__item span.primary {
  color: #099ff9;
}

.subject__item span.green {
  color: #09bd00;
}

.subject__item span.red {
  color: #ff1800;
}

.subject__item span.pink {
  color: #e965d3;
}

.subject__item span.purple {
  color: #a65fee;
}

.subject__img__block {
  width: 3rem;
}

.subject__img__block svg {
  width: 100%;
}

.item__text {
  font-size: 1.8rem;
  line-height: 1.44;
  font-weight: 700;
  width: calc(100% - 6rem);
}

#page_eight .main__footer__text {
  width: 70%;
  margin: 2.3rem auto 0;
}

.trial__main__block {
  margin-top: 4.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.trial__widget__block {
  width: 2rem;
  height: 19rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#099ff9), to(rgba(9, 159, 249, 0)));
  background: linear-gradient(#099ff9, rgba(9, 159, 249, 0));
  border-radius: 1rem;
}

.main__thumbnail {
  width: 100%;
  height: 73.68%;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #099ff9;
  border-radius: inherit;
}

.main__thumbnail:before, .main__thumbnail:after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__thumbnail:before {
  background-color: #fff;
}

.main__thumbnail:after {
  background: transparent;
  border: 0.2rem solid #fff;
}

.trial__list__block {
  width: calc(100% - 5rem);
}

.trial__item {
  margin-bottom: 3.2rem;
}

.trial__item:last-child {
  margin-bottom: 0;
}

.trial__title {
  font-size: 2.2rem;
  line-height: 1.364;
  margin-bottom: 0.7rem;
}

.trial_text {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  width: 90%;
}

.trial__list {
  width: 100%;
  margin-top: 5rem;
}

.trial__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7rem;
}

.item__label {
  width: 1.4rem;
  margin-right: 2rem;
}

.item__label svg {
  width: 100%;
}

.trial__item__text {
  font-size: 1.6rem;
  line-height: 1.5rem;
  width: calc(100% - 3.4rem);
}

#page_ten .page__title__block {
  margin: 0;
}

#page_ten .main__block {
  margin-top: 6rem;
}

#page_ten .main__block .img__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23.4rem;
  margin: 4.1rem auto 6rem;
}

#page_ten .main__block img:first-child {
  width: 29.9%;
}

#page_ten .main__block img:nth-child(2) {
  width: 23.93%;
}

#page_ten .main__block img:last-child {
  width: 29.5%;
}

#page_ten .footer__block {
  background: transparent;
}

#page_ten .footer__block .main__block {
  margin-bottom: 0rem;
}

#page_ten .title__text {
  margin-top: 5.4rem;
}

#page_ten .footer__text {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.375;
  font-weight: 700;
  margin-bottom: 3.7rem;
}

#page_ten .footer__block {
  background: transparent;
}

#page_ten .cancel__btn {
  width: 100%;
}

#page_ten .cancel__btn .footer__text {
  margin-bottom: 0;
}

.title__text {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
}

.plans__block {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.plans__block .header__text {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.plan__wrapper {
  width: 31.4%;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #f1f1f1;
}

.plan__wrapper.active {
  background-color: #099ff9;
}

.plan__wrapper.active .top__text,
.plan__wrapper.active .price__text,
.plan__wrapper.active .sub__text {
  color: #fff;
}

.plan__wrapper.active .bottom__block .price__text {
  opacity: 1;
}

.plan__wrapper.active .header__text {
  color: #fff;
}

.plan__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.3rem 0.5rem 1.5rem;
  border-radius: 2rem;
}

.top__text,
.price__text {
  font-size: 1.4rem;
  line-height: 1.22;
  font-weight: 700;
}

.top__text,
.price__text,
.sub__text,
.header__text {
  text-align: center;
}

.top__text,
.sub__text,
.price__text,
.header__text {
  color: #5a5a5a;
}

.middle__block {
  margin: 3.1rem 0 2.8rem;
}

.middle__block .price__text {
  line-height: 1.37;
}

.sub__text,
.header__text {
  font-size: 1.1rem;
  line-height: 1.55;
}

.bottom__block .price__text {
  opacity: 0.5;
}

#page_eleven .main__block {
  margin-top: 13.5rem;
}

#page_eleven .footer__block {
  max-height: 50rem;
  height: 49%;
  overflow: hidden;
  padding: 0;
}

#page_eleven .footer__block .main__block {
  margin-top: 0;
}

#page_eleven .footer__wrapper {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#page_eleven .footer__wrapper .button__wrapper {
  margin-bottom: 7rem;
}

#page_eleven .footer__wrapper button {
  background-color: #fff;
  border-radius: 2rem;
  color: #f9c700;
}

#page_eleven .ellipse__block {
  position: absolute;
  top: 0;
  width: 130%;
  height: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background: #f9c700;
}

#page_eleven .main__footer__block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: #f9c700;
}

.slider__wrapper {
  position: relative;
  width: 100%;
  padding-top: 90.36%;
}

.slider__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__block {
  width: 100%;
  height: 100%;
}

.slide__img {
  width: 100%;
}

.slider__title {
  width: 40rem;
  font-size: 1.8rem;
  line-height: 1.44;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26.23%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide:focus {
  outline: none;
}

.slick-dots {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  opacity: 0.5;
}

.slick-dots li.slick-active {
  width: 1.8rem;
  height: 1.8rem;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 0;
  color: transparent;
}

@media screen and (min-height: 1200px) {
  .choose__language__block {
    margin-bottom: 8rem;
  }
}

@media screen and (max-height: 1025px) and (min-width: 850px) and (max-width: 1440px) {
  #page_nine {
    height: 120vh;
  }
}

@media screen and (max-height: 1025px) and (min-width: 850px) {
  .slider__block {
    width: 100%;
    height: 70%;
  }
  .slide__img {
    width: 70%;
    margin: auto;
  }
  .questions__block {
    width: 100%;
    margin: 5.4rem auto 0;
  }
  .color__btns__block {
    margin-top: 9.6rem;
  }
}

@media screen and (max-height: 850px) and (min-width: 601px) {
  .slider__block {
    width: 100%;
    height: 56%;
  }
  .slide__img {
    width: 50%;
    margin: auto;
  }
  .age__btns__block {
    margin-top: 2.2rem;
  }
  .choose_language__wrap {
    max-height: 43vh;
  }
  .choose__language__block {
    margin-bottom: 7rem;
  }
}

@media screen and (max-height: 950px) and (min-width: 525px) {
  #page_ten {
    height: 130vh;
  }
}

@media screen and (max-height: 720px) and (min-width: 525px) {
  #page_ten {
    height: 150vh;
  }
}

@media screen and (max-height: 525px) and (min-width: 568px) {
  #page_ten {
    height: 250vh;
  }
  #page_eleven {
    height: 125vh;
  }
  #page_eleven .main__block {
    margin-top: 0;
  }
}

@media screen and (max-height: 374px) and (min-width: 568px) {
  #page_ten {
    height: 300vh;
  }
}

@media screen and (max-width: 600px) {
  .slider__block {
    width: 100%;
    height: 100%;
  }
  .button__wrapper {
    position: relative;
    height: 5.2rem;
  }
  .button__wrapper.full__width__btn {
    width: 31.13rem;
  }
  .button__wrapper.full__width__btn .app__btn {
    font-size: 1.6rem;
    border-radius: 2rem;
  }
  .app__btn {
    font-size: 2.3rem;
    border-radius: 2.6rem;
  }
  .app__btn.clicked {
    top: 0.3rem;
  }
  .footer__title__text {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .footer__title__text span {
    font-weight: 700;
  }
  .main__footer__text {
    font-size: 1.2rem;
    width: 100%;
  }
  .plans__link {
    font-size: 1.4rem;
    margin: 1rem auto 2.6rem;
  }
  #page_eight .main__footer__text {
    width: 32rem;
  }
  .main__content {
    margin-top: 5.2rem;
  }
  .main__content .page__title {
    font-size: 1.8rem;
  }
  .item__text {
    font-size: 1.2rem;
    width: calc(100% - 4.8rem);
  }
  #page_nine .main__block {
    padding: 0 3.2rem;
  }
  .trial_text {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
  .trial__main__block {
    margin-top: 2.1rem;
    width: calc(100% + 1.6rem);
  }
  .trial__widget__block {
    height: 16rem;
  }
  .trial__list__block {
    width: calc(100% - 3.5rem);
  }
  .trial__title {
    font-size: 1.8rem;
    margin-bottom: 0.9rem;
  }
  .trial__list {
    margin-top: 4rem;
  }
  .trial__list__item {
    margin-bottom: 0.9rem;
  }
  .trial__item__text {
    font-size: 1.2rem;
  }
  #page_ten .footer__text {
    margin-bottom: 2.7rem;
  }
  #page_ten .button__wrapper {
    margin-bottom: 3rem;
  }
  .plans__block {
    width: 100%;
  }
  #page_eleven .main__block {
    margin-top: 10rem;
  }
  #page_eleven .footer__block {
    max-height: 36rem;
    height: 44%;
  }
  #page_eleven .footer__wrapper .button__wrapper {
    margin-bottom: 5.4rem;
  }
  #page_eleven .ellipse__block {
    height: 33.333%;
  }
  #page_eleven .main__footer__block {
    height: 83.3%;
  }
}

@media screen and (max-width: 525px) {
  .slider__wrapper {
    padding-top: 100%;
  }
  .slider__title {
    height: 30%;
  }
  .age__btns__block {
    width: 33rem;
  }
  .age__btn {
    width: 9rem;
    height: 8.5rem;
    margin: 1rem;
  }
  .age__btn span {
    font-size: 2.2rem;
  }
  .age__btn.selected span {
    height: calc(100% - 0.3rem);
    color: #fff;
  }
  .color__btn {
    width: 10.767rem;
    height: 9.6rem;
    margin: 0 1rem 2.4rem;
    border-radius: 2rem;
  }
  .color__btn.colorized .color__name {
    height: calc(100% - 0.3rem);
  }
  .color__btn.colorized:after {
    border-radius: 2rem;
  }
  .color__name {
    border-radius: 2rem;
    font-size: 1.4rem;
  }
  #page_seven .page__title {
    margin-top: 17.6rem;
  }
  .animation__block {
    margin-top: 11.3rem;
  }
  .circle__animation {
    width: 20rem;
    height: 20rem;
  }
  .percentages {
    font-size: 4rem;
  }
  #page_ten .main__block {
    margin-top: 2.65rem;
  }
  #page_ten .main__block .img__block {
    width: 20rem;
    margin: 3.8rem auto 4rem;
  }
  #page_ten .title__text {
    margin-top: 2.4rem;
  }
  .plans__block {
    max-width: 34.4rem;
  }
  .plans__block .header__text {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 0.9rem;
  }
  .plan__block {
    padding: 0.8rem 0.5rem 0.9rem;
  }
  .title__text {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .top__text,
  .price__text {
    font-size: 1rem;
  }
  .middle__block {
    margin: 1.8rem auto 1.6rem;
  }
  .middle__block .price__text {
    font-size: 1.4rem;
  }
  .middle__block .sub__text {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 425px) {
  .slider__wrapper {
    padding-top: 149.86%;
  }
  .slider__title {
    width: 31.1rem;
    height: 27.76%;
  }
  .current__page__block {
    font-size: 1.6rem;
  }
  .page__title__block {
    margin-top: 4rem;
  }
  .page__text {
    margin-top: 2.4rem;
    font-weight: 400;
  }
  .input__block {
    margin-top: 2.7rem;
  }
  .name__input {
    padding: 0 2rem;
    height: 5.5rem;
    font-size: 1.6rem;
    line-height: 1.375;
  }
  .button__wrapper {
    width: 15rem;
  }
  .app__btn {
    width: 15rem;
    font-size: 1.6rem;
  }
  .choose_language__wrap {
    margin-top: 2.7rem;
  }
  .choose__language__block {
    width: 100%;
    padding: 0.9rem 1.8rem;
    margin-bottom: 8rem;
  }
  .language__block {
    padding: 0.9rem 0;
  }
  .language__icon {
    width: 7rem;
    height: 5rem;
  }
  .language__name {
    font-size: 1.6rem;
  }
  .questions__block {
    margin: 7.7rem auto 0;
  }
  .question__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .color__btns__block {
    width: calc(100% + 1rem);
    margin: 9.6rem 0 0 -0.5rem;
  }
  .color__btn {
    margin: 0 0.5rem 1.95rem;
  }
  #page_eight .page__title {
    margin-top: 2.65rem;
  }
  .levels__block {
    margin-top: 2.1rem;
  }
  .levels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .level__name {
    display: none;
  }
  .level__name.active {
    display: block;
    width: 8rem;
  }
  .level__progress__thumb {
    width: 2.6rem;
    height: 2.6rem;
  }
  .level__progress__block {
    margin-top: 0.9rem;
  }
  .main__img__block {
    width: 20rem;
    height: 20rem;
    margin: 0 auto 4rem;
  }
}

@media screen and (min-width: 320px) and (max-height: 750px) {
  .footer__block {
    padding-bottom: 2rem;
  }
  .slider__wrapper {
    padding-top: 140%;
  }
  .slider__title {
    height: 22.76%;
  }
  .choose_language__wrap {
    max-height: 50vh;
  }
  .questions__block {
    margin: 7.6rem auto 0;
  }
  .color__btns__block {
    margin-top: 5.6rem;
  }
}

@media screen and (max-width: 450px) and (max-height: 750px) {
  #page_ten {
    height: 120vh;
  }
}

@media screen and (max-width: 374px) and (max-height: 750px) {
  #page_ten {
    height: 135vh;
  }
}

@media screen and (min-width: 568px) and (max-height: 415px) {
  .wrap {
    height: auto;
  }
  .slider__wrapper {
    padding-top: 90%;
    margin-bottom: 15rem;
  }
  .main__block {
    margin-bottom: 20rem;
  }
  .slider__block {
    height: 100%;
  }
  .slide__img {
    width: 100%;
  }
  .slider__title {
    height: 25.76%;
  }
  #page_three .main__block {
    margin-bottom: 10rem;
  }
  #page_three .footer__block .main__block {
    margin-bottom: 0;
  }
  #page_nine .main__block {
    margin-bottom: 35rem;
  }
  #page_nine .footer__block .main__block {
    margin-bottom: 0;
  }
}

@media screen and (max-height: 670px) and (max-width: 415px) {
  .questions__block {
    height: 35vh;
    overflow-y: scroll;
  }
  .questions__block::-webkit-scrollbar {
    display: none;
  }
  #page_nine {
    height: 120vh;
  }
}

@media screen and (min-width: 375px) and (min-height: 750px) and (max-width: 767px) {
  .choose__language__block {
    margin-bottom: 15rem;
  }
}

@media screen and (min-height: 416px) and (max-width: 374px) {
  .button__wrapper {
    height: 4.6rem;
  }
  .button__wrapper.full__width__btn {
    width: 29rem;
  }
  .button__wrapper.full__width__btn .app__btn {
    font-size: 1.6rem;
  }
  .app__btn {
    font-size: 1.8rem;
    border-radius: 2.3rem;
  }
  .app__btn.clicked {
    top: 0.2rem;
  }
  .age__btns__block {
    margin-top: 2rem;
    width: 29rem;
  }
  .age__btn {
    width: 8rem;
    height: 7.3rem;
    margin: 0.83rem;
  }
  .age__btn span {
    font-size: 2rem;
  }
  .age__btn.selected span {
    height: calc(100% - 0.2rem);
    color: #fff;
  }
  .choose_language__wrap {
    max-height: 35vh;
  }
  .slider__title {
    font-size: 1.4rem;
  }
  .slick-dots {
    width: 7rem;
  }
  .slick-dots li {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
  }
  .slick-dots li.slick-active {
    width: 1.4rem;
    height: 1.4rem;
  }
  .questions__block {
    margin: 4.6rem auto 0;
    height: 30vh;
    overflow-y: auto;
  }
  .questions__block::-webkit-scrollbar {
    display: none;
  }
  .color__btn {
    width: 8.933rem;
    height: 8.1rem;
  }
  .animation__block {
    margin-top: 9.3rem;
  }
  #page_eight .header__block {
    padding: 2.8rem 0 0 1.6rem;
  }
  #page_eight .main__footer__text {
    width: 100%;
  }
  #page_eight .main__content {
    margin-top: 2.6rem;
  }
  #page_eight .subjects__list {
    height: 27.8vh;
    margin-bottom: 0.5rem;
    overflow-y: scroll;
  }
  .levels__block {
    margin-top: 2.65rem;
  }
  #page_nine {
    height: 140vh;
  }
  #page_nine .main__block {
    padding: 0 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */